    /* CSS Styles */
      /* Your existing CSS styles */
      /* CSS Styles */
      /* Body Styles */
      body {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0;
        padding: 0;
            min-height: 100vh;

    background: #06071c;
          }

/* CSS Styles */
/* Your existing CSS styles */




    /* Main Section Styles */
    main {
    }

    /* Header Styles */
    header {
      font-family: "Protest Guerrilla", sans-serif;
      font-weight: 400;
      font-style: normal;
      background-color: #e74c3c; /* Dark blue color */
      color: #fff;
      padding: 20px;
      z-index: 9999;
      width: 100%; /* Added */
    }


      /* Header Styles */
      header {
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 400;
        font-style: normal;
        background-color: #e74c3c;
        /* Dark blue color */
        color: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 9999;
      }

      h1 {
        color: #fff;
        font-size: 100px;
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      .logo {
        font-size: 24px;
      }

      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      nav ul li {
        display: inline;
        margin-left: 20px;
      }

      nav ul li a {
        color: #fff;
        text-decoration: none;
      }

      /* Main Section Styles */
     

      .full-screen {
        min-height: 100vh;
    display: flex;
            justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        /* Ensure position relative for absolute positioning of video */
      }
    
    .full-screen_work {
        min-height: 100vh;
            min-width: 100%;
    display: inline-table;
            justify-content: center;
                background-color: #141527;
        align-items: center;
        flex-direction: column;
        position: relative;
        /* Ensure position relative for absolute positioning of video */
      }


      .background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        /* Move the video behind the content */
      }

      .content {
        text-align: center;
        display: grid;
      }

      /* CSS Styles */
      .full-screen {
        position: relative;
      }

      .background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }

      .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    background-color: #08091ae3;
        /* Semi-transparent black */
        z-index: 0;
        /* Ensure the overlay is behind the content */
        pointer-events: none;
        /* Allow clicks to go through the overlay to the video */
      }


      .content {
        text-align: center;
        position: relative;
        z-index: 1;
      }

.btn_toggle_sidebar {
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    background-color: #ffffff1f;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 20px 50px;
    text-decoration: none;
    border-color: #ffffff78;
    border-radius: 5px;
    width: 30%;
    align-self: center;
    border: solid 1px #ffffff63;
}


  .btn_sidebar {
    border-radius: 8px;
    text-transform: uppercase;
    background: #e24333;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}









.btn_sidebar.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 80%;
} 

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}



      /* Button Styles */
      .btn {
        /* Dark red to dark blue gradient */
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
  font-family: "PT Sans", sans-serif;
        /* Change font for consistency */
        font-size: 16px;
        font-weight: 500;
        height: 4rem;
        padding: 0 1.6rem;
        text-align: center;
        transition: all .5s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        padding: 20px;
        text-decoration: none;
      }

      .btn:hover {
        transition-duration: .1s;
      }

      /* Footer Styles */
      footer {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth"100;
    background-color: #06071c;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex !important;
    flex-direction: initial;
        align-self: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 9999;
    justify-content: center;
    width: 100%;
}

      /* Social Media Icons */
      .social-media a {
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
        font-size: 24px;
      }

      /* Work Section Styles */
#work_sec {
  display: flex; /* Change from grid to flex */
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: center; /* Align items to the start of the main axis (left) */
  align-items: center; /* Align items to the start of the cross axis (top) */

  color: #fff;
  text-align: center;
  padding: 20px 30px;
}


.work-container { 
   }
.item {
    position: relative;
    width: 45%;
    margin: 10px;
    background-color: rgb(231 75 60);
    border-radius: 2px;
    overflow: hidden;
}

      .item video,
      .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Ensure videos and images fit within the container */
      }

      /* Smooth scrolling */
      html {
        scroll-behavior: smooth;
      }

      /* Thumbnail Styles */
      .thumbnail {
        cursor: pointer;
        transition: transform 0.3s ease;
      }

      .thumbnail:hover {
        transform: scale(1.1);
      }

      /* Modal Content Styles */
      .iziModal-content {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /* Modal Image Styles */
      .iziModal-content img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        /* Ensure the image fits within the modal */
      }

      .plyr {
        width: 100% !important;
      }

      #loadMoreContainer {
        margin: 20px;
        display: flex;
        justify-content: center;
      }

      #loadMoreContainer {
  margin: 20px;
  display: flex;
  justify-content: center;
}

#loadMoreBtn {
margin: 20px;
    background: transparent;
    padding: 10px 50px;
  }



      /* CSS Styles */
      /* Other styles remain unchanged */
      /* Style for the filter dropdown */
      /* Styles for the filter dropdown */
      #filterMenu {
        position: relative;
        display: inline-block;
      }

      #filterDropdown {
        display: none;
        z-index: 1;
      }

     

      

     

      button#toggleFilters {
        margin: 20px;
      }

      a[data-izimodal-open] {
        padding: 0px !important;
        border-radius: 3px;
        border: 0;
        background: none !important;
        font-size: 14px;
        border-top: 0px !important;
        border-bottom: 0px !important;
        cursor: pointer;
      }

      /* Add fade-in animation */
      @keyframes fadeIn {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      /* Apply fade-in animation to items */
      .item {
        animation: fadeIn 1s ease-in-out;
      }

      /* Apply button styles to filter menu buttons */
      

      /* CSS Styles */
      /* Other styles remain unchanged */
      /* Center the filter menu container */
      #filterContainer {
        text-align: center;
      }

      /* Align the buttons horizontally */
      #filterButtons {
        display: flex;
        justify-content: center;
      }

      #filterButtons button {
        margin: 0 10px;
        /* Adjust margin for spacing */
        background-image: linear-gradient(92.88deg, #230a1e 9.16%, #06071c 64.72%);
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        padding: 12px 16px;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
        transition: all .5s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }

      /* Align the buttons horizontally */
      #filterDropdown {
        display: flex;
        justify-content: center;
      }

#filterDropdown button {
    margin: 20px;
    background: transparent;
    padding: 10px 50px;
    width: 25%;
}

      /* Contact Section Styles */
     #contact {
    height: 100%;
    background-color: #06071c;
    min-height: 100vh;
}

      /* About Section Styles */
      #about {
          height: 100%;
    background-color: #06071c;
    min-height: 100vh;
      }




.section-transition {
    transition: opacity 0.5s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
}
#work {
    transition: opacity 0.5s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

 #work {
    transition: opacity 0.5s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


    /* Add styles for the preloader */
    #preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
      z-index: 9999; /* Ensure the preloader is above other elements */
      display: flex;
      justify-content: center;
      align-items: center;
    }











.modais.iziModal {
    background: #e74c3c;
    max-width: 85% !important;
}
iframe.iziModal-iframe {
    height: 85vh !important;
}








.copyright {
    min-width: 200px;
    text-align: center;
    width: 50%;
    align-self: center;
    margin: 10px 0px 10px 0px;
}

.social-media {
    min-width: 200px;
    width: 50%;
    align-self: center;
    justify-self: center;
    margin: 10px 0px 10px 0px;
}



button.btn_toggle_sidebar:hover {
    background: #ffffff6b;
    border: solid 1px #ffffff;
    color: #e74b3c;
    animation-delay: .5s;
}



  #sidebar {
    width: 30%;
    background-color: #e74c3c;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: width 0.5s ease;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(20 20 21 / 70%);
}




        #main {
            margin-left: 30%; /* Initially set margin to the width of the sidebar */
            transition: margin-left 0.5s ease; /* Smooth transition with ease */
        }

       
        }







.btn-2 {
}




.click-btn {
  display: flex;
  width: $button-width;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  line-height: 35px;
  border: 1px solid;
  border-color: #ffffff78;
    border-radius: 5px;
  border-radius: $border-radius;
  text-align: center;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: all 0.35s;
  box-sizing: border-box;
}

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
align-items: center;
}

.updating {
  margin: 3em;
  text-align: center;
}

// button style


@keyframes ani507 {
  10% {
    width: 0;
    transform: rotateZ(-45deg) translate(-100%, -50%);
  }
  20% {
    width: 0;
    transform: rotateZ(0) translate(-100%, 85%);
  }
  60% {
    width: 100%;
    transform: rotateZ(0) translate(0, 85%);
  }
  100% {
    width: 100%;
    transform: rotateZ(0) translate(0, 0);
  }
}



.btn-style700 {
  $btn-color: #979695;
  $btn-hover-color: #dd6395;
  position: relative;
  border-color: $btn-color;
  color: $btn-color;
  &::before,
  &::after {
        background: #ffffff1a;
    position: absolute;
    top: 0;
    left: 0;
    border-color: $btn-hover-color;
    border-radius: $border-radius;
    border-style: solid;
    transition: all 0.35s;
    content: "";
    z-index: 1;
  }
  &::before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
  }
  &::after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
  }
  &:hover {
    border-color: $btn-hover-color;
    color: $btn-hover-color;
    &::before {
      width: 100%;
      border-width: 1px 0 1px 0;
    }
    &::after {
      height: 100%;
      border-width: 0 1px 0 1px;
    }
  }
}


.togglesidebar {
    width: 50%;
    background: transparent;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
        margin-top: 20%;
}
#togglesidebarbtn {
    background: #be221361;
    padding: 40px;
}


@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");




button#toggleFilters {
    margin: 50px 0px auto;
    background: transparent;
    padding: 10px 50px;
}

#mywork {
    margin: 20px;
    background: transparent;
    padding: 10px 50px;
    width: 50%;
    align-self: center;
    justify-self: center;
}


.sidebar_items {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}




.line {
    border: 0.1px solid #ffffff42;
    width: 40%;
    margin-top: 20px;
}

span {
    right: -20%;
    position: relative;
}

i {
    margin: 0px 5px;
        font-size: 25px;
}
